# Do not commit real secrets.
# AWS credentials should be provided via environment variables or CI secrets.

region      = "eu-central-1"
bucket_name = "vasylyshyn-bucket"
cluster_name = "vasylyshyn-eks-cluster"

# Optional overrides:
#instance_type      = "t3.xlarge"
#vpc_cidr           = "10.10.10.0/24"
#public_subnet_cidr = "10.10.10.0/25"
#public_subnet_cidr_2 = "10.10.10.128/25"
#kubernetes_version   = "1.30"
#eks_node_instance_type = "t3.small"
#eks_desired_capacity = 2
#eks_min_capacity     = 1
#eks_max_capacity     = 3
