# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Django
# db.sqlite3
media/
static/
